
* {
  background-color: purple;
  background-size: cover;
}
.table {
  margin-top: 20px;
  display: inline-block;
}

td, th {
  border: 1px dotted #dddddd;
  text-align: left;
  padding: 8px!important;
  font-size: 12px;
}

button {
  border-radius: 5px!important;
  margin: 8px!important;
  font-size: 10px;
}

