* {
	background-color: purple;
	background-size: cover;
}
// .containerAdmin {
// 	margin-top: 100px;
// }
.logInHeader {
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

label {
	color: white;
}

.forgotPasswordLink,
.registerNewUserLink {
	margin-top: 50px;
	font-size: 20px;
	left: 0;
	top: 50%;
	width: auto;
	text-align: center;
}
.registerNewUserLink {
	margin-top: 5px;
}

@media all and (max-width: 599px) and (min-width: 320px) {
	.h2LogInHeader {
		font-size: 25px;
	}
	.h4LogInHeader {
		font-size: 20px;
	}
	.forgotPasswordLink,
	.registerNewUserLink {
		margin-top: 50px;
		font-size: 18px;
		left: 0;
		top: 50%;
		width: 100%;
		text-align: center;
	}
	.registerNewUserLink {
		margin-top: 5px;
	}
}
