.mypage-component{
   //sborder: solid black 1px;
   color: white;

    .header{
    //border: solid orange 1px;
    margin-top:30px;
    margin-bottom:30px;

        .header-cols{
            //border:solid black 1px;
        }
        .name{
        font-size:23px;
        line-height:2;   
        }
    }

    .edit-button{
        cursor:pointer;
    }    
    .child-name{
        font-size:19px;
    }

    .newRow{
        border:solid black 2px;
    }

   
}



