.modal-content {
	border-radius: 5px !important;
	border-color: black;
	background-color: rgb(238, 248, 248) !important;
}
.notisModal {
	color: black;
	background-color: rgb(238, 248, 248) !important;
}
.modalBody {
	color: black;
	background-color: rgb(238, 248, 248) !important;
}
.notisModalBtn {
	background-color: rgb(191, 207, 207) !important;
}
