th,
td {
  color: rgb(251, 249, 249);
}

.edit-btn,
.show-more-btn,
.remove-btn,
.sort-btn,
.add-btn {
  cursor: pointer;
  background-color: transparent;
  color: rgb(251, 249, 249);
}
.top-btn-col {
  margin-top: 13px;
}

@media only screen and (max-width: 900px) {
  th.one,
  td.one {
    display: none;
  }
}

