th,
td {
	color: aliceblue;
}

.edit-btn,
.show-more-btn,
.remove-btn,
.sort-btn,
.add-btn {
	cursor: pointer;
	background-color: transparent;
}

@media only screen and (max-width: 900px) {
  th.one,
  td.one {
    display: none;
  }
  .table th,
  .table td {
    font-size: 11px;
  }
}
.add-btn {
	color: white;
}
