* {
	box-sizing: border-box;
}

body {
	background: url(/cool-background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// background-color: purple !important;
	color: rgb(251, 249, 249) !important;
}

@media all and (max-width: 400px) and (min-width: 300px) {
	body {
		background: url(/cool-background.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		// background-color: purple !important;
		color: rgb(251, 249, 249) !important;
	}
}

@media all and (max-width: 599px) and (min-width: 320px) {
	body {
		background: url(/cool-background.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		// background-color: purple !important;
		color: rgb(251, 249, 249) !important;
	}
}
