* {
	box-sizing: border-box;
	background-size: cover;
	z-index: 15;
}

body {
	// background-color: purple !important;
	background: linear-gradient(to right, rgb(128, 0, 128), rgb(128, 0, 128));
	color: rgb(251, 249, 249) !important;
}
