.favCardBody {
	background-color: rgb(202, 38, 202);
}
.favName,
.favPhone {
	color: white;
	cursor: pointer;
	text-align: center;
	display: block;
}
.favName:hover,
.favPhone:hover {
	color: orange;
}
.card-cols {
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	flex: 1;
}

.btn-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#select-btn {
	display: inline-flex;
}

.card {
	display: flex;
	flex-direction: row;
	color: black;
	border-radius: 9px;
	flex-wrap: wrap;
	flex-basis: auto; /* default auto */
}

.favoBtn {
	border: 2px 2px 0px 2px;
	background-color: purple;
	border-color: white;
}
.card-btn-delete {
	background-color: rgb(202, 38, 202) !important;
	border: none !important;
}
.card-btn-delete:hover {
	color: red;
}
