.modal-content {
	border-radius: 15px 15px;
}
.notisModal {
	background-color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255) !important;
}
.modalBody {
	border-radius: 10px !important;
	color: rgb(128, 0, 128);
	background-color: rgb(255, 255, 255) !important;
}
.notisModalBtn {
	background-color: rgb(98, 206, 103) !important;
	border-radius: 0 0 10px 10px;
}
