.mypage-component {
  color: white;
  padding: 30px;
  background-color: rgb(185, 66, 185);
  border-radius:5px;

  .user-name {
      font-size: 23px;
  }
  .children-name {
    font-size: 20px;
  }

  .delete-button {
    cursor: pointer;
    opacity:0.6;
  }
  .delete-button:hover {
    opacity:1;
  }
  .edit-button {
    cursor: pointer;
    float:right;
  }
  .search-button {
    cursor: pointer;
  }
  
  .error-text{
    color:orange;
    font-size:12px;
  }
  .error-container{
    border:solid black 1px;
    height:40px;
  }

  

  .child-component{
    border-radius: 5px;
    margin-top:10px;
    padding:10px;
    background-color: rgb(175, 175, 175);
  }

  .add-child-component{
    background-color: rgb(187, 117, 187);
    border-radius:5px;
    padding:20px;
  }
  .add-child-text{
    text-align:center;
    color:black;
  }
  .found-child{
    background-color: rgb(175, 175, 175);
    padding:10px;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
  }
  .found-child:hover{
    background-color: rgb(146, 146, 146);
  }

}

@media screen and (min-width: 450px) {
  .mypage-component {
    width: 400px;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .delete-button{
    position:relative;
    right:10px;
  }
}
@media screen and (max-width: 325px) {
  .delete-button{
    position:relative;
    right:15px;
  }
}