.mypage-component {
  color: white;
  border: solid white 1px;
  padding: 30px;

  .header {
    margin-top: 30px;
    margin-bottom: 30px;

    .name {
      font-size: 23px;
      line-height: 2;
    }
  }
  input {
    color: black;
    background-color: white;
  }
  .delete-button {
    cursor: pointer;
  }
  .edit-button {
    cursor: pointer;
  }
  .search-button {
    cursor: pointer;
  }
  .child-name {
    font-size: 19px;
  }

}

@media screen and (min-width: 450px) {
  .mypage-component {
    width: 400px;
    margin: auto;
  }
}
