.mypage-component {
  color: white;
  padding: 30px;
  background-color: rgb(185, 66, 185);
  border-radius:5px;


  .user-name {
      font-size: 23px;
    }
  

  input {
    color: black;
    background-color: white;
  }
  .special{
    border:solid red 1px;
  }
  .specrow{
    border:solid black 1px;
  }

  .delete-button {
    cursor: pointer;
  }
  .edit-button {
    cursor: pointer;
    float:right;
  }
  .search-button {
    cursor: pointer;
  }
  .child-name {
    font-size: 19px;
  }

}

@media screen and (min-width: 450px) {
  .mypage-component {
    width: 400px;
    margin: auto;
  }
}
