.navlink {
	color: white;
	text-align: center !important;
}
.navbar {
  background-color: rgb(162, 0, 255);

  .navbar-brand,
  .nav-link {
    color: aliceblue;
    opacity: 1;
    cursor: pointer;
  }
}

a,
a:link,
.nav-link,
.nav-item {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
