.navlink {
	color: purple;
	text-align: center !important;
}
.navbar {
	background-color: white;

	.navbar-brand,
	.nav-link {
		color: purple;
		opacity: 1;
		cursor: pointer;
	}
}

a,
a:link,
.nav-link,
.nav-item {
	text-decoration: none;
	color: purple;
	margin-right: 10px;
	cursor: pointer;
}
.custom-toggler.navbar-toggler {
	border-color: purple;
}
